<div class="row">
  <div class="col-2">
    <strong><%= t(:id) %></strong>
    <%= item.id %>
  </div>

  <div class="col-2">
    <strong><%= t(:active) %></strong>
    <%= t(item.active) %>
  </div>

  <div class="col-4">
    <strong><%= t(:created) %></strong>
    <span style="white-space:nowrap;">
      <%= question.created_at.strftime(Rails.configuration.datetime_format) %><br/>
    </span>
    <%= t(:by_who, who: question.created_by.link_to_text) %>
  </div>

  <div class="col-4">
    <strong><%= t(:updated_last) %></strong>
    <span style="white-space:nowrap;">
      <%= question.updated_at.strftime(Rails.configuration.datetime_format) %><br/>
    </span>
    <%= t(:by_who, who: question.updated_by.link_to_text) %>
  </div>

  <div class="col-12 mt-3">
    <strong><%= t(:question) %></strong>
    <div class="border pt-2 px-3">
      <%= render_markdown(item.content) %>
    </div>
  </div>
</div>

<%= link_to t(:edit), edit_question_path(item) %> |
<%= link_to t(:index), questions_path %>
