      <li class="nav-item">
        <%= link_to events_path, class: 'nav-link' do %>
          <%= fa_icon('bolt', text: t(:events).titleize) %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#{resources_path}?resource_type=shelters", class: 'nav-link' do %>
          <%= fa_icon('home', text: t(:shelters).titleize) %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#{resources_path}?resource_type=pods", class: 'nav-link' do %>
          <%= fa_icon('shopping-basket', text: t(:pods).titleize) %>
        <% end %>
      </li>
