<div class="card">
  <div class="card-header clearfix">
    <h2>
      <%= item.link_to_text %>
      <small class="pull-right"><%= item.role %></small>
    </h2>
    <%= link_to(edit_user_path(item), class: 'btn btn-sm btn-outline-primary') do %>
      <%= fa_icon(:edit, text: t(:edit_type, type: t(:user))) %>
    <% end %>
    <%= link_to(user_path(item), method: :delete,
                data: { confirm: t(:are_you_sure?) },
                class: 'btn btn-sm btn-outline-danger') do %>
    <%= fa_icon(:trash, text: t(:delete_type, type: t(:user))) %>
    <% end %>
  </div>
  <div class="card-body">
    <p>
      <strong><%= label(:user, :location) %>:</strong>
      <%= item.location %>
    </p>
    <p>
      <strong><%= label(:user, :timezone) %>:</strong>
      <%= item.time_zone %>
    </p>
    <p>
      <strong><%= label(:user, :localization) %>:</strong>
      <%= item.i18n %>
    </p>
    <p>
      <strong><%= label(:user, :created_at) %>:</strong>
      <%=item.created_at.strftime(Rails.configuration.datetime_format) %>
    </p>
    <p>
      <strong><%= label(:user, :updated_at) %>:</strong>
      <%=item.updated_at.strftime(Rails.configuration.datetime_format) %>
    </p>
    <p>
      <strong><%= label(:user, :last_log_in_at) %>:</strong>
      <%=item.last_sign_in_at.strftime(Rails.configuration.datetime_format) %>
    </p>
  </div>
</div>
