<%
render('application/manage_body_wrapper', target: :management_bodies) do
  list = event.send(type)
%>
<div class="card card-body bg-light flex-grow">
  <h2>
    <%= t(type) %>
    <% if event.admin?(Current.user) %>
      <%= link_to(path, class: 'btn btn-sm btn-outline-primary') do %>
      <%= fa_icon(:list, text: t(:manage)) %>
    <% end %>
    <% end %>
  </h2>
  <% if list.empty? %>
  <%= t(:no_resources) %>
  <% else %>
  <ul>
    <% list.each do |resource| %>
    <li><%= resource.name %></li>
    <% end %>
  </ul>
  <% end %>
</div>
<% end %>
