<h2 class="text-center clear-fix">
  <span class="pull-left">
    <%= link_to t(:back_to, type: t(:event)), @event, class: 'btn btn-sm btn-link' %>
  </span>
  <%= t(:event_resources_edit, event: @event.name, type: @title) %>
</h2>
<div class="text-center row">
  <div class="col">
    <input type="search"
           name="resource_search"
           id="resource_search"
           class="form-control search"
           placeholder="<%= t(:search) %>"
           data-column="all" />
  </div>
</div>
<div class="text-center row">
  <div class="col-6">
    <h3><%= t(:associated_resources, type: @title) %></h3>
    <table id="associated_resources" class="table">
      <thead>
        <tr>
          <th data-sorter="false" title="<%= t(:action) %>"><%= t(:active) %></th>
          <th><%= t(:type) %></th>
          <th title=""><%= t(@type) %></th>
        </tr>
      </thead>
      <tbody>
        <%= render 'events/resources/associated_rows', event: @event, list: @event_resources %>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <h3><%= t(:available_resources, type: @title) %></h3>
    <table id="available_resources" class="table">
      <thead>
        <tr>
          <th data-sorter="false" title="<%= t(:action) %>">&nbsp;</th>
          <th><%= t(:type) %></th>
          <th title=""><%= t(@type) %></th>
        </tr>
      </thead>
      <tbody>
        <%= render 'events/resources/available_rows', event: @event, list: @resources %>
      </tbody>
    </table>
  </div>
</div>

<script charset="utf-8">
$(function () {
  var $associated = $('#associated_resources'),
      $available = $('#available_resources');

  $('#associated_resources, #available_resources').tablesorter({
    widgets: ['filter'],
    widgetOptions: {
      filter_external: '.search',
      filter_columnFilters: false,
      filter_functions: { 0: true }
    }
  })
    .on('change', 'input[type="checkbox"].toggle_activation', function () {
      var $this = $(this).hide(),
          $working = $('<i class="fa fa-cog fa-spin"></i>').insertAfter($this),
          checked = this.checked;

      $.ajax($this.data('route'), {
        method: 'PATCH',
        dataType: 'json',
        data: {
          activations: [{
            id: $this.data('activationId'),
            active: checked
          }]
        }
      })
        .done(function (res) {
          // REVIEW: is there anything to do here?
          // TODO: show modal with any errors
        })
        .fail(function (err) {
          $this.prop('checked', !checked);
          // TODO: show modal with any errors
        })
        .always(function () {
          $working.remove();
          $this.show();
        });
    })
    .on('click', 'button.add_to_event', function () {
      var $this = $(this).html('<i class="fa fa-cog fa-spin"></i>').prop('disabled', true),
          id = parseInt($this.data('resourceId'));

      $.ajax($this.data('route'), {
        method: 'POST',
        dataType: 'html',
        data: { event: { resource_ids: [id] } }
      })
        .done(function (res) {
          $associated.find('tbody').prepend(res);
          $this.closest('tr').remove();
          // TODO: show modal with any errors
        })
        .fail(function (err) {
          console.log(err);
          // TODO show modal with any errors
          $this.html('<i class="fa fa-arrow-left"></i>').prop('disabled', false);
        });
    })
});
</script>
