<%
markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true)
content_for :site_title, "#{site_title} - Event: #{item.name}", flush: true
render 'events/managers/show', event: item
render 'events/drafts/show', event: item
render 'events/resources/show', event: item, type: :shelters, path: event_shelters_path(item)
render 'events/resources/show', event: item, type: :pods, path: event_pods_path(item)
render 'events/resources/show', event: item, type: :medsites, path: event_medsites_path(item)
%>
<div class="card bg-light">
  <div class="card-header">
    <div class="row clearfix">
      <div class="col-11">
        <h1><%= item.name %><%= admin? ? " <small>(event id: #{item.id})</small>".html_safe : '' %></h1>
      </div>
      <div class="col-1">
      <% if user_signed_in? && item.manager?(Current.user) %>
        <%= link_to edit_event_path(item), class: 'btn btn-sm btn-outline-primary float-right' do %>
          <%= fa_icon(:edit, text: t(:edit_type, type: t(:event))) %>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <h6><%= label(:event, :disaster_type) %>:</h6>
        <%= item.humanize_disaster_type %>
      </div>
      <div class="col-3">
        <h6><%= label(:event, :activated) %>:</h6>
        <%= item.activated %>
      </div>
      <div class="col-3">
        <h6><%= label(:event, :deactivated) %>:</h6>
        <%= item.deactivated %>
      </div>
      <div class="col-3">
        <h6><%= label(:event, :administrator) %>:</h6>
        <%= item.administrator.link_to_text %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= sanitize(markdown.render(item.content), tags: ALLOWED_HTML_TAGS, attributes: ALLOWED_HTML_ATTRIBUTES).html_safe %>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-3">
        <h6><%= label(:event, :created_at) %></h6>
        <%=item.created_at.strftime(Rails.configuration.datetime_format) %><br/>
        <small>by: <%= item.created_by.link_to_text %></small>
      </div>
      <div class="col-3">
        <h6><%= label(:event, :updated_at) %></h6>
        <%=item.updated_at.strftime(Rails.configuration.datetime_format) %><br/>
        <small>by: <%= item.updated_by.link_to_text %></small>
      </div>
      <div class="col-3">&nbsp;</div>
      <div class="col-3">&nbsp;</div>
    </div>
  </div>
</div>

<div class="mt-2 row">
  <%= content_for(:management_bodies) %>
</div>
