<% content_for :site_title, "#{@site_title} - #{item.name}" %>
<% markdown = Redcarpet::Markdown.new(Redcarpet::Render::HTML, autolink: true, tables: true) %>
<div class="card bg-light">
  <div class="card-header">
    <div class="row clearfix">
      <div class="col-11">
      <h1><%= item.name %><%= admin? ? " <small>(event id: #{item.id})</small>".html_safe : '' %></h1>
      </div>
      <div class="col-1">
      <% if user_signed_in? && item.manager?(Current.user) %>
        <%= link_to edit_event_path(item), class: 'btn btn-sm btn-outline-primary float-right' do %>
          <%= fa_icon(:edit, text: t(:edit, type: t(:event))) %>
        <% end %>
      <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <h6><%= label(:event, :disaster_type) %>:</h6>
        <%= item.humanize_disaster_type %>
      </div>
      <div class="col-3">
        <h6><%= label(:event, :activated) %>:</h6>
        <%= item.activated %>
      </div>
      <div class="col-3">
        <h6><%= label(:event, :deactivated) %>:</h6>
        <%= item.deactivated %>
      </div>
      <div class="col-3">
        <h6><%= label(:event, :administrator) %>:</h6>
        <%= item.administrator.link_to_text %>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%= sanitize(markdown.render(item.content), tags: ALLOWED_HTML_TAGS, attributes: ALLOWED_HTML_ATTRIBUTES).html_safe %>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col-3">
        <h6><%= label(:event, :created_at) %></h6>
        <%=item.created_at.strftime(Rails.configuration.datetime_format) %><br/>
        <small>by: <%= item.created_by.link_to_text %></small>
      </div>
      <div class="col-3">
        <h6><%= label(:event, :updated_at) %></h6>
        <%=item.updated_at.strftime(Rails.configuration.datetime_format) %><br/>
        <small>by: <%= item.updated_by.link_to_text %></small>
      </div>
      <div class="col-3">&nbsp;</div>
      <div class="col-3">
        <h6><label><%= t(:drafts) %></label></h6>
        <% draft_count = item.drafts.actionable.count %>
        <% if draft_count > 0 %>
        <span><%= pluralize(draft_count, 'draft') %></span>
        <%= link_to(t(:manage), event_drafts_path(item), class: 'btn btn-sm btn-outline-primary') if event.admin?(Current.user) %>
        <% else %>
        <span><%= t(:no_drafts) %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
<%= render 'events/managers/show', event: item %>
  </div>
  <div class="col-6">
  </div>
</div>
