<%= content_for :site_title, "#{site_title} - #{page_title}", flush: true %>
<%= form_with(model: event, local: true) do |f| %>
  <div class="form">
    <% date = event.activated || Date.today.strftime(conf.date_format) %>
    <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= t(:errors_prohibited, type: t(:event), count: pluralize(event.errors.count, "error")) %></h2>

        <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row">
      <div class="col-12">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3">
        <%= f.label :disaster_type %>
        <%= f.select :disaster_type, event_disaster_type_options(event.disaster_type),
                            {}, { class: 'form-control' } %>
      </div>
      <div class="col-3">
        <%= f.label :activated %>
        <%= f.text_field :activated, class: 'form-control datepicker',
                                     placeholder: date,
                                     data: {
                                       maxdate: 1,
                                       mindate: -30,
                                       defaultdate: date
                                     } %>
      </div>
      <div class="col-3">
        <%= f.label :deactivated %>
        <%= f.text_field :deactivated, class: 'form-control datepicker',
                                       placeholder: date,
                                       data: {
                                         mindate_lookup: date,
                                       } %>
      </div>
      <div class="col-3">
        <%= f.label :administrator %>
        <%= collection_select :event,
                              :administrator_id,
                              User.live,
                              :id,
                              :link_to_text,
                              { selected: event.administrator_id },
                              { class: 'form-control' } %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3">
        <%= f.label :latitude %>
        <%= f.number_field :latitude, class: 'form-control lat-editor',
                                      placeholder: '23.4567',
                                      min: -90, max: 90, step: 0.000001,
                                      data: { original: event.latitude } %>
        <%= f.label :longitude %>
        <%= f.number_field :longitude, class: 'form-control lng-editor',
                                       placeholder: '123.4567',
                                       min: -180, max: 180, step: 0.000001,
                                       data: { original: event.longitude } %>
        <%= f.label :zoom %>
        <%= f.number_field :zoom, class: 'form-control zoom-editor',
                                  placeholder: '9',
                                  min: 0, max: 22, step: 0.1,
                                  data: { original: event.zoom} %>

        <div class="btn-group mt-3" role="group">
          <button type="button" class="btn btn-secondary map-update-btn"><%= t(:map_update) %></button>
          <button type="button" class="btn btn-secondary map-reset-btn"><%= t(:map_reset) %></button>
        </div>
      </div>
      <div class="col-9">
        <div class="border resource-map"
             data-lat-selector="input.lat-editor"
             data-lng-selector="input.lng-editor"
             data-zoom-selector="input.zoom-editor"
             data-update-selector="button.map-update-btn"
             data-reset-selector="button.map-reset-btn"
             <% unless event.new_record? %>
             data-lat="<%= event.latitude %>"
             data-lng="<%= event.longitude %>"
             data-zoom="<%= event.zoom %>"
             <% end %>
             data-use-editor="true"
             data-use-marker="true" /></div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <%= f.label :content %>
        <%= f.text_area :content, autofocus: true, class: 'form-control' %>
        <small>(<%= t(:supports_markdown) %>)</small>
      </div>

      <div class="col-12">
        <%= render 'application/markdown_editor', source: '#event_content' %>
      </div>
    </div>

    <div class="btn-group d-flex justify-content-center mt-3">
      <%= f.submit class: 'btn btn-sm btn-primary' %>
      <%= link_to t(:events_index), events_path, class: 'btn btn-sm btn-outline-info' %>
      <% unless event.new_record? %>
        <%= link_to t(:delete_type, type: t(:event)), event_path(event),
                      method: :delete,
                      data: { confirm: t(:generic_confirm) },
                      class: 'btn btn-sm btn-outline-danger' %>
      <% end %>
    </div>
  </div>
<% end %>
