<%= content_for :site_title, "#{site_title} - #{page_title}", flush: true %>
<%= form_with(model: event, local: true) do |f| %>
  <div class="form">
    <% date = event.activated || Date.today.strftime(conf.date_format) %>
    <% if event.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
        <% event.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group row">
      <div class="col-12">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-3">
        <%= f.label :disaster_type %>
        <%= f.select :disaster_type, event_disaster_type_options(event.disaster_type),
                            {}, { class: 'form-control' } %>
      </div>
      <div class="col-3">
        <%= f.label :activated %>
        <%= f.text_field :activated, class: 'form-control datepicker',
                                     placeholder: date,
                                     data: {
                                       maxdate: 1,
                                       mindate: -30,
                                       defaultdate: date
                                     } %>
      </div>
      <div class="col-3">
        <%= f.label :deactivated %>
        <%= f.text_field :deactivated, class: 'form-control datepicker',
                                       placeholder: date,
                                       data: {
                                         mindate_lookup: date,
                                       } %>
      </div>
      <div class="col-3">
        <%= f.label :administrator %>
        <%= collection_select :event,
                              :administrator_id,
                              User.live,
                              :id,
                              :link_to_text,
                              { selected: event.administrator_id },
                              { class: 'form-control' } %>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-12">
        <%= f.label :content %>
        <%= f.text_area :content, autofocus: true, class: 'form-control' %>
        <small>(<%= t(:supports_markdown) %>)</small>
      </div>

      <div class="col-12">
        <%= render 'application/markdown_editor', source: '#event_content' %>
      </div>
    </div>

    <div class="btn-group d-flex justify-content-center mt-3">
      <%= f.submit class: 'btn btn-sm btn-primary' %>
      <%= link_to t(:events_index), events_path, class: 'btn btn-sm btn-outline-info' %>
      <% unless event.new_record? %>
        <%= link_to t(:delete_type, type: t(:event)), event_path(event),
                      method: :delete,
                      data: { confirm: t(:generic_confirm) },
                      class: 'btn btn-sm btn-outline-danger' %>
      <% end %>
    </div>
  </div>
<% end %>
