<h4><em>Use markdown to format the content of the page</em></h4>
<%= form_for @page do |f| %>
  <div class="form">
    <% if @page.new_record? %>
      <%= f.label :page  %>
      <%= f.text_field :page, class: 'form-control' %>
    <% else %>
      <h2>Page: <em><%= @page.page  %></em></h2>
      <%= f.hidden_field :page %>
    <% end %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
    <%= render 'application/markdown_editor', source: '#page_content' %>
  </div>

  <div class="btn-group d-flex justify-content-center mt-3">
  <%= f.submit class: 'btn btn-sm btn-primary' %>
  <%= link_to t(:pages_index), pages_path, class: 'btn btn-sm btn-outline-info' %>
  <% unless @page.new_record? %>
    <%= link_to t(:delete_type, type: t(:page)), page_path(@page),
                  method: :delete,
                  data: { confirm: 'Are you sure?' },
                  class: 'btn btn-sm btn-outline-danger' %>
  <% end %>
  </div>
<% end %>
