<%= render 'pages/page' %>

<table class="table">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th><%= t(:id) %></th>
      <th><%= t(:resource) %></th>
      <th><%= t(:active) %></th>
      <th><%= t(:resource_type) %></th>
      <th><%= t(:address) %></th>
      <th><%= t(:city) %></th>
      <th><%= t(:county) %></th>
      <th><%= t(:state) %></th>
      <th><%= t(:postal_code) %></th>
    </tr>
  </thead>

  <tbody>
    <% @resources.each do |resource| %>
      <tr>
        <td class="btn-group-vertical">
          <%= link_to(resource, class: 'btn btn-sm btn-outline-primary') do %>
            <%= fa_icon(:eye, text: t(:show)) %>
          <% end %>
          <%= link_to(edit_resource_path(resource), class: 'btn btn-sm btn-outline-secondary') do %>
            <%= fa_icon(:edit, text: t(:edit)) %>
          <% end %>
          <%= link_to(resource, method: :delete, data: { confirm: t(:are_you_sure?) }, class: 'btn btn-sm btn-outline-danger') do %>
            <% fa_icon(:trash, text: t(:delete)) %>
          <% end %>
        </td>
        <td><%= resource.id %></td>
        <td><%= resource.name %></td>
        <td><%= t(resource.active) %></td>
        <td><%= resource.humanize_resource_type %></td>
        <td><%= resource.address %></td>
        <td><%= resource.city %></td>
        <td><%= resource.county %></td>
        <td><%= resource.state %></td>
        <td><%= resource.postal_code %></td>
      </tr>
    <% end %>
  </tbody>
</table>
