<%= render 'pages/page' %>

<div class="container">
  <% if @drafts.empty? %>
    <div class="row">
      <div class="col">
        <%= format(t(:nothing_found), thing: t(:drafts)) %>
      </div>
    </div>
  <% else %>
    <% @drafts.each do |item, drafts| %>
    <div class="row draft-header">
      <div class="col">
        <h3>
        <% if item.nil? %>
          New Items
          <span class="pull-right">
            <a class="btn btn-link collapsed" data-toggle="collapse"
                                              data-target=".draft-list-row-new-items"
                                              data-collapse-state="false"
                                              aria-expanded='false'>&nbsp;</a>
          </span>
        <% else %>
          <%= link_to item.link_to_text, item %>
          <small class="text-muted">
            <em><%= t(:resource) %>:</em>
            <%= item.class.name %> <%= item.id %>
          </small>
          <span class="pull-right">
            <a class="btn btn-link collapsed" data-toggle="collapse"
                                              data-target=".draft-list-row-<%= item.class.name %>-<%= item.id %>"
                                              data-collapse-state="false"
                                              aria-expanded='false'>&nbsp;</a>
          </span>
        <% end %>
        </h3>
      </div>
    </div>
    <div class="row draft-list collapse draft-list-row-<%= item.nil? ? 'new-items' : "#{item.class.name}-#{item.id}" %>">
      <div class="col">
        <table id="draftsList" class="table">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <% if item.nil? %><th><%= t(:draft_type) %></th><% end %>
              <th><%= t(:draft_id) %></th>
              <th><%= t(:timestamp) %></th>
              <th><%= t(:user) %></th>
              <th colspan="2">&nbsp;</th>
            </tr>
          </thead>

          <tbody>
            <% drafts.each do |draft| %>
              <tr>
                <td>&nbsp;</td>
              <% if item.nil? %><th><%= draft.draftable_type %></th><% end %>
                <td><%= draft.id %></td>
                <td><%= draft.created_at %></td>
                <td><%= draft.user.real_name %></td>
                <td class="text-right">
                  <a class="btn btn-link collapsed" data-toggle="collapse"
                                                    data-target=".preview-row-<%= draft.id %>"
                                                    data-collapse-state="false"
                                                    aria-expanded='false'>&nbsp;</a>
                </td>
                <td>&nbsp;</td>
              </tr>
              <tr class="collapse preview-row-<%= draft.id %>" data-parent="#draftsList">
                <td>&nbsp;</td>
                <td colspan="<%= item.nil? ? 5 : 4 %>">
                  <%= render draft %>
                </td>
                <td>&nbsp;</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<script>
$('#draftsList').on('click', 'button[data-toggle="collapse"]', function () {
  var $this = $(this),
      expanded = $this.data('collapse-state');

  $('#draftsList button[data-collapse-state]')
    .text('<%= t(:show_changes) %>')
    .data('false');
  $this
    .text(expanded == 'true' ? '<%= t(:show_changes) %>' : '<%= t(:hide_changes) %>')
    .data('collapse-state', { 'false': 'true', 'true': 'false' }[expanded]);
});
</script>
