<%= render 'pages/page' %>

<div class="container">
  <table id="draftsList" class="table">
    <thead>
      <tr>
        <th><%= t(:draft_id) %></th>
        <th><%= t(:draft_type) %></th>
        <th><%= t(:draft) %></th>
        <th><%= t(:user) %></th>
        <th>&nbsp;</th>
      </tr>
    </thead>

    <tbody>
      <% if @drafts.empty? %>
        <tr>
          <td colspan="7">
            <%= format(t(:nothing_found), thing: t(:drafts)) %>
          </td>
        </tr>
      <% else %>
        <% @drafts.each do |draft| %>
          <tr>
            <td><%= draft.id %></td>
            <td><%= draft.draftable.class.name %></td>
            <td><%= link_to draft.draftable.link_to_text, draft.draftable %></td>
            <td><%= draft.user.real_name %></td>
            <td>
              <a class="btn btn-link collapsed" data-toggle="collapse" data-target=".preview-row-<%= draft.id %>" data-collapse-state="false" aria-expanded='false'>&nbsp;</a>
            </td>
          </tr>
          <tr class="collapse preview-row-<%= draft.id %>" data-parent="#draftsList">
            <td>&nbsp;</td>
            <td colspan="7">
              <%= render draft %>
              <div class="text-center">
                <hr/>
                <%= link_to draft_path(draft), class: 'btn btn-success', method: :post,
                                               title: format(t(:approve), type: t(:draft)) do %>
                  <%= fa_icon(:check, text: t(:approve)) %>
                <% end %>
                <%= link_to draft, class: 'btn btn-danger', method: :delete, data: { confirm: t(:generic_confirm) },
                                   title: format(t(:deny), type: t(:draft)) do %>
                  <%= fa_icon(:ban, text: t(:deny)) %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<script>
$('#draftsList').on('click', 'button[data-toggle="collapse"]', function () {
  var $this = $(this),
      expanded = $this.data('collapse-state');

  $('#draftsList button[data-collapse-state]')
    .text('<%= t(:show_changes) %>')
    .data('false');
  $this
    .text(expanded == 'true' ? '<%= t(:show_changes) %>' : '<%= t(:hide_changes) %>')
    .data('collapse-state', { 'false': 'true', 'true': 'false' }[expanded]);
});
</script>
