<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= (Rails.env.development? ? '(dev) ' : '') %><%= (content_for(:site_title) || @site_title) %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.8.6/showdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-xss/0.3.3/xss.min.js"></script>
  </head>

  <body>
<%= render partial: 'application/navbar' %>

<%= render partial: 'application/notices' %>

    <div class="container" id="main-content">
<%= yield %>
    </div>

  </body>
</html>
